@import url('https://fonts.googleapis.com/css?family=Overpass&display=swap');


/* Start: Testing Outline */
/* HTML > Body > Elem */
/* * > * > * {
  border: solid 1px rgb(239, 111, 243);
}

* > * > * > * {
  border: solid 1px rgb(80, 236, 184);
}

* > * > * > * > * {
  border: solid 1px rgb(255, 99, 71);
}

* > * > * > * > * > * {
  border: solid 1px rgb(107, 142, 35);
} */
/* End: Testing Outline */

/* Variables */
:root {
  --background-color: hsl(43, 18%, 92%);
  --text-color__primary: hsl(0, 0%, 11%);

  --font-size__title: 2.5rem;
  --font-size__subtitle: 1.5rem;

  --font-family__headings: 'Overpass', sans-serif;
  --font-family__body: 'Overpass', sans-serif;
}

/* Dark mode: modifies variable values */
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: hsl(0, 0%, 11%);
    --text-color__primary: hsl(43, 17%, 82%);
  }
}

/* For large screens */
@media (min-width: 900px) {
  :root {
    --font-size__title: 4rem;
    --font-size__subtitle: 2.5rem;
  }
}

body {
  margin: 0;
  padding: 0;

  background-color: var(--background-color);
  color: var(--text-color__primary);

  font-family: var(--font-family__headings);
}

.wrapper {
  margin: 0;
  padding: 0;

  min-height: 100vh;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.my-info__name {
  margin: 0;
  
  font-size: var(--font-size__title);
  text-align: center;
}

.my-info__email {
  margin: 0;

  font-size: var(--font-size__subtitle);
  line-height: 1.33;
  text-align: center;
}
